.jobPageFlex
{
    display: flex;
    justify-content: space-around;
    margin-top: 3em;
}
/* .jobCardFlex
{
display: flex;
flex-direction: column;
height: 30rem;
overflow-y: scroll;
} */
.errorMessagePage
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    font-size: 1.5rem;
}