.signUpHeader
{
    color: gray;
    font-weight: 500;
    text-align: left;
}
.containerSignup
{
 display: flex; 
 justify-content: space-around;
}
.form
{
    display: flex;
    flex-direction: column;
    width: 60%;
}
input,button
{
    margin: 1em 0em;
    height: 1vw;
    border-radius: 1rem;
    border: 1px solid gray;
    font-family: 'Roboto';
    font-weight: 400;
}
input{
    padding:1em 1em;
}
.nextButton
{
    background-color: black;
    color: white;
    font-family: 'Roboto',sans-serif;
    height: 2.5vw;
    width: 50%;
    cursor: pointer;
}
.leftContainerSignup
{
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width: 50%;
    margin-left: 5em;
}
.rightContainerSignup
{
    width: 50%;
}
.signupImage
{
    width: 90%;
}
.skillsList
{
    list-style: none;
    background-color: white;
    padding: 10px;
    list-style: none;
    max-height: 20px;
}
.listandinput
{
    display: flex;
    flex-direction: column;
    width:100%;
}
ul
{
  
    top: 60%;
    overflow-y: scroll;
    height: 10vw;
    margin-top: -0.8em;
}
li
{
    cursor: pointer;
    text-align: center;
}
.alert
{
    width: 90%;
}
.genreDiv
  {
    width: 40%;
    height: 2.25rem;
    background-color: #b6d6e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2%;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: white;
    border-radius: 1rem;
    margin-right: 2em;
  }
  .genreHeader
  {
    margin-left: 20%;
    font-size: 1rem
  }
  .closeButton
  {
    color:#394867;
    margin-left: auto; 
    font-size: 1rem; 
    cursor: pointer;
    padding-right: 5%;
  }
  .selectedskillcontainer
  {
    display: flex;
    flex-wrap: wrap;
  }