.testMainContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    margin-top: -3.5em;
  }
  
  .testLeftContainer {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 2em;
    border-radius: 1rem;
    height: 50vh;
    position: relative;
    transform: scale(1.3);
  }
  
  .testRightContainer {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    padding: 2em 2em;
    border-radius: 1rem;
    height: 50vh;
    margin-top: -10em;
    transform: scale(0.9);
    margin-right: -10em;
  }
  
  .questionContainer {
    width: 100%;
    padding-bottom: 2em;
    height: 50vh;
  }
  
  .question {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    flex-direction: column;
  }
  
  .option {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    cursor: pointer;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    background-color: #000;
    border-radius: 50%;
  }
  
  .circle.selected1 .dot {
    display: block;
  }
  
  .circle.selected1:hover {
    background-color: #333;
  }
  
  .circle.selected1:hover .dot {
    background-color: #fff;
  }
  
  .option span {
    font-size: 14px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 500px; /* Added max-width */
    margin: auto; /* Added */
    top: 100%;
    position: fixed;
  }
  
  .testButtons {
    height: auto;
    width: 30%;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2rem; /* Fixed typo */
  }
  
  .testButtons:hover {
    background-color: lightblue;
  }
  
  .timer {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: right;
  }
  
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  
  .question-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 calc(12.5% - 20px);
    height: auto;
    margin-left:0.8em;
    margin-top: 0.5em;
    margin-right: 0.8em;
    margin-bottom: 1em;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transform: scale(1.5);
  }
  
  .questionBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
.spanOptions
{
    width: 90%;
}
.submitTest
{
    height: auto;
    width: 50%;
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2rem; /* Fixed typo */
    align-self:self-end;
    transform: scale(1.4);
    margin-right: 2.5em;
    margin-top: 2em;
    transition: backround-color 0.5s ease;
}
.submitTest:hover
{
    background-color: 	#00ff00;
}
.exitButton
{
  transition: backround-color 0.5s ease-in;
}
.exitButton:hover
{
  background-color: red;
  color: white;
}
.quitvisualButtons
{
  display: flex;
  justify-content: space-around;
}
.spancorrectwrong
{
  margin-left: 1em;
}
.selected1{
  background-color: limegreen;
  border-radius: 1rem;
  color: white;
}