.viewProfileContainer
{
    background-color: #F7F7F7;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    position: relative;
}
.innerContainer
{
    margin-left: 5em;
    margin-top: 0em;
    transform: scale(0.8);
    position: relative;
    width: 80%;
}
.inputviewProfile
{
    width: 60%;
    padding-left: 1em;
    z-index: 1;
}
.listandinput2
{
    margin-left: 0%;
    width: 100%;
}
.skills-list2
{
    list-style: none;
    top: 60%;
    overflow-y: scroll;
    height: 10vw;
    margin-top: -1em;
    width: 60%;
}
li
{
    cursor: pointer;
    text-align: center;
    margin-top: 1em;
}
li:first-child
{
    cursor: pointer;
    text-align: center;
    margin-top: 2%;
}
.genreDiv1
  {
    width: 20%;
    height: 2.25rem;
    background-color: #b6d6e7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2%;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    color: white;
    border-radius: 1rem;
    margin-right: 2em;
  }
  .genreHeader1
  {
    margin-left: 20%;
    font-size: 1rem
  }
  .closeButton1
  {
    color:#394867;
    margin-left: auto; 
    font-size: 1rem; 
    cursor: pointer;
    padding-right: 5%;
  }
  .selectedskillcontainer1
  {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
  }
  .companyskillContainer1 {
    width: fit-content;
    min-width: 15%;
    background-color: rgba(0, 0, 0, 0.671);
    border-radius: 2rem;
    padding: 0em 0.5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
    margin-top: 0.5em;
    flex-wrap: wrap;
  }
  .skillsContainercompany
  {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }
  .skillHeaderCompany1 {
    font-weight: 500;
    font-size: 1rem;
    transition: font-size 0.2s;
  }
  .editProfile
  {
    /* position: absolute; */
    width: 30%;
    border-radius: 0.5rem;
    height:8vh;
    background-color: #0020c2;
    color: white;
    cursor: pointer;
    right: 0%;
    
  }
  .logoutProfile
  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3em 3em;
    width: 10%;
    position: absolute;
    right: 3em;
    border: 0.1rem solid gray;
    padding: 1em 1em;
    border-radius: 1rem;
    cursor: pointer;
    
  }
  .logoutImage
  {
    width: 20%;
    margin-right: 1em;
    
  }
  .buttonContainer
  {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5em;
  }
  .backtohome
  {
    background-color: #F7F7F7;
    color: black;
    transition: background-color 0.3s ease;
  }
  .backtohome:hover
  {
    background-color: #0020c2;
    color: white;
  }
.DeleteProfile
{
    color: white;
    background-color: red;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background-color: #fff;
  padding: 1em 1em;
  border-radius:0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.confirmDelete
{
  height: 1.8rem;
  background-color: red;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: 80%;
  cursor: pointer;
}
.closeButton1
{
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
}
.alertviewprofile
{
  width:60%;
  font-family: 'Roboto';
  font-weight: 500;
}